<h2>Profile Page</h2>

<a href="/">Home</a>
<h1><%= data[0].firstName %></h1>
<div class="table table-striped">
  <div class="row"> 
  <% data.forEach(function(data) { %>
    <div class="col-md-6">
      <ul style="border: 1px solid black; list-style-type:none">
        <li>
          <%= data.title %>
        </li>
        <li>
          <% if(data.imgURL) { %> 
            <img style="height: 200px; width:200px" src="https://res.cloudinary.com/igdb/image/upload/t_cover_big_2x/<%= data.imgURL %>.webp">
          <% } else { %> 
            <img style="height: 200px; width:200px" src="/img/noImg.jpg"> 
          <% } %>
        </li>
        <li>
          <%= data.review %>
        </li>
        <li>
          My Rating: <%= data.rating %>
        </li>
      </ul>
    </div>
    <form method="post" action="/delete/<%=  %>">
      <input type="button" name="update" class="btn btn-warning" value="Update This Review">
    </form>
    <form>
      <input type="button" name="delete" class="btn btn-danger" value="Delete This Review">
    </form>
  <% }); %>
  <div class="row"> 
</div>
