<h1 style="margin: 0 auto"><%= games[0].firstName %>'s Reviews</h1>
<div class="table table-striped">
  <table>
  <% games.forEach(function(data) { %>
      <% if (data.title != null) { %>
      <tr style="border: 1px solid black">
        <td>
          <% if(data.imgURL) { %> 
            <a href="/game/<%= data.apiId %>"><img class="col-md-3" style="height: 100px; width:130px" src="https://res.cloudinary.com/igdb/image/upload/t_cover_big_2x/<%= data.imgURL %>.webp"></a>
          <% } else { %> 
            <a href=""><img class="col-md-3" style="height: 100px; width:130px" src="./img/noImg.jpg"> </a>
          <% } %>
        </td>
        <td class="col-md-3">
          <strong><%= data.title %></strong>
        </td>
        <td class="col-md-3">
          <%= data.review %>
        </td>
        <td class="col-md-3">
          <% for(var i=0; i < (data.rating); i++) { %>
            <% if(data.rating >1) { %>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <% } %>
          <% } if(!data.rating) { %>
            <%= 0 / 5 %>
          <% } %>
          <% if(data.rating % 1 != 0) { %>
            <i class="fa fa-star-half" aria-hidden="true"></i>
          <% } %>
        </td>
        <td class="col-md-2">
          <form id="<%= data.gameId %>" method="post" action="/update/<%= data.id %>">
            <input type="text" name="newReview" placeholder="Re-write your review here">
            <input id="<%= data.gameId %>" type="button" name="update" class="btn btn-warning update-button" value="Update Review">
          </form>
          <br>
          <br>
          <input id="<%= data.gameId %>" type="button" name="delete" class="btn btn-danger delete-button" value="Delete Review">
        </td>
      </tr>
    <% } %>
  <% }); %>
  </table>
</div>